*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #f1f1f1;
    height: 100vh;
}

img {
    /* filter: blur(2px); */
    /* filter: contrast(250%); */
    /* filter: grayscale(100%); */
    filter: invert(100%);
}