*, ::before, ::after {
    margin: 0;
    padding: 0;
    background: #333;
}

.box {
    width: 300px;
    height: 300px;
    margin: 20px;
    background: salmon;
    animation: spin 2s;
}
/* Animation lors d'un état */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        background: lightblue;
    }
    51.5% {
        background: #000;
    }
    100% {
        transform: rotate(720deg);
    }
}

