*, ::before, ::after {
    margin: 0;
    padding: 0;
    background: #2f3542;
}

.box {
    width: 300px;
    height: 300px;
    margin: 20px;
    background: salmon;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /* animation-direction: alternate; */
    animation-timing-function: ease-in; /* lent au début et rapide à la fin */
    /* Raccourci */
    /* animation: spin 2s ease-in forwards; */
}
/* Animation lors d'un état */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    /* 50% {
        background: #00a8ff;
    }
    51.5% {
        background: #7bed9f;
    } */
    to {
        transform: rotate(720deg);
        background: #ff4757;
    }
}

