*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #f1f1f1;
    height: 100vh;
    background: linear-gradient(to bottom right, #FDB99B, #CD8BF3);
}