body {
    background: #000;
    padding-top: 50px;
    text-align: center;
}

p {
    color: #fff;
    font-size: 30px;
}

button {
    padding: 15px 20px;
    font-size: 24px;
    border-radius: 12px;
    cursor: pointer;
    background-color: #f1c66e;
    border: none;
    color: rgb(42, 35, 35);
    box-shadow: 0 9px rgba(241, 198, 110,0.66);
    outline: none;
}

button:hover {
    transform: translateY(3px);
    box-shadow: 0 6px rgba(241, 198, 110,0.66);
}

button:active {
    transform: translateY(7px);
    box-shadow: 0 2px rgba(241, 198, 110,0.66);
}